footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .nav-pills .nav-link {
    color: $font-color;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    border-radius: 30px;
    background: $primary;
  }
}
