header,
#slide-out-menu {
  padding: 0.5em;
}

header {
  img {
    width: 6vw;
    margin-right: 0.25em;
  }
  .bi {
    font-size: 1.5rem;
    color: $white;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
}
// Slide Out Menu
#slide-out-menu {
  position: absolute;
  top: 0;
  left: -300px;
  bottom: 0;
  background: $white;
  width: 250px;

  transition: all 0.3s ease-in-out;
  &.active {
    left: 0;
    box-shadow: 0 20px 30px $white-trans-65;
  }
}
