.about-content 
    .header-image 
        span
            p.lead Forward-thinking user interface designer and developer
            
            .cta.mb-xl-3
                a.btn.btn-primary.mr-2.small(href="#") View My Work
                a.btn.btn-outline-primary.small(href="#") View My Resume 
        img(src="./images/bg.png", alt="me and cali working")
    .portfolio-item.item-1  Item 1     
    .portfolio-item.item-2  Item 2
    .portfolio-item.item-3  Item 3
    .portfolio-item.item-4  Item 4
    .portfolio-item.item-5  Item 5
    .portfolio-item.item-6  Item 6
    .portfolio-item.item-7  Item 7
    .portfolio-item.item-8  Item 8
    
        