.about-content 
    .header-image 
        span
            p.lead Forward-thinking user interface designer and developer
            
            .cta.mb-xl-3
                a.btn.btn-primary.mr-2.small(href="#") View My Work
                a.btn.btn-outline-primary.small(href="#") View My Resume 
        img(src="./images/bg.png", alt="me and cali working")
    .about-item.item-1  
        .d-flex.text-start
            .flex-shrink-0.avatar-wrapper
                img(src='./images/avatar.jpg' alt='...')
            .flex-grow-1.ms-3
                span.d-block E. Wright 
                span.small.fw-bold Front-end Engineer
                span.d-block 
                    .d-flex 
                        a(href="#" target="_blank")
                            .bi.bi-linkedin 

   
    .about-item.item-2.text-start  
        h4 Objective 
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, iste voluptas. In, soluta laboriosam. Possimus laudantium earum.
    .about-item.item-3 
        h5.fw-bold Education 
        .d-flex.justify-content-between.flex-column.flex-sm-row.flex-md-column 
            p.mb-0 The Art Institute of Atlanta
            p 01/2001 - 03/2004

    .about-item.item-4  Item 4
    .about-item.item-5  Item 5
    .about-item.item-6  Item 6
    .about-item.item-7  Item 7
    .about-item.item-8  Item 8
    
        