.about-content 
    .header-image 
        span
            p.lead Forward-thinking user interface designer and developer
            
            .cta
                a.btn.btn-primary.mr-2.small(href="#") View My Work
                a.btn.btn-outline-primary.small(href="#") View My Resume 
        img(src="./images/bg.png", alt="")
        
    
        