footer.d-lg-none.bg-white.px-2.pt-2.pb-3
    ul#pills-tab.nav.nav-pills.justify-content-center.small(role='tablist')
        li.nav-item(role='presentation')
            button#pills-home-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#v-pills-home' type='button' role='tab' aria-controls='pills-home' aria-selected='true') Home
        li.nav-item(role='presentation')
            button#pills-profile-tab.nav-link(data-bs-toggle='pill' data-bs-target='#v-pills-profile' type='button' role='tab' aria-controls='pills-profile' aria-selected='false') Profile
        li.nav-item(role='presentation')
            button#pills-contact-tab.nav-link(data-bs-toggle='pill' data-bs-target='#v-pills-portfolio' type='button' role='tab' aria-controls='pills-portfolio' aria-selected='false') Portfolio
        li.nav-item(role='presentation')
            button#pills-contact-tab.nav-link(data-bs-toggle='pill' data-bs-target='#v-pills-contact' type='button' role='tab' aria-controls='pills-contact' aria-selected='false') Contact

