header.bg-secondary.row.justify-content-between.align-items-center.mx-auto.w-100.d-lg-none
    .col-10.col-sm-6
        .logo 
            img.img-fluid(src="./images/logo.png", alt="My Logo")
            span.mb-0 E. Wright
    .col-2.text-end
        #nav-toggle.bi.bi-list

//- Slideout Menu
#slide-out-menu 
    span.bi.bi-x-lg.float-end(onclick='toggleNav()')